<!DOCTYPE html>
<html lang="en">                                                                 <head>
    <meta charset="UTF-8">
    <title>MLS - Signup</title>                                                      <style>
        body { background: #121212; color: white; font-family: Arial; display: f>
        .card { background: #1e1e1e; padding: 30px; border-radius: 10px; width: >
        input { width: 100%; padding: 10px; margin: 10px 0; border-radius: 5px; >        button { width: 100%; padding: 10px; background: #2ecc71; border: none; >
    </style>                                                                     </head>                                                                          <body>
    <div class="card">
        <h2 style="color:#2ecc71">CREATE ACCOUNT</h2>                                    <form method="POST">
            <input type="text" name="username" placeholder="Chuno Username" requ>            <input type="password" name="password" placeholder="Chuno Password" >
            <button type="submit">Signup Now</button>
        </form>
        <p style="font-size: 12px;">Pehle se account hai? <a href="/login" style>
    </div>                                                                       </body>
</html>
